<div>
  <form method="post">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    <p><em>Please select 3 courses for this semester</em></p>
    Course 1:<br>
      <select name="course1">
        {{#each subjects}}
          <option value={{id}}>{{subject_name}}</option>
        {{/each}}
      </select>
      <br><br>
    Course 2:<br>
      <select name="course2">
        {{#each subjects}}
        <option value={{id}}>{{subject_name}}</option>
        {{/each}}
      </select>
      <br><br>
    Course 3:<br>
      <select name="course3">
        {{#each subjects}}
        <option value={{id}}>{{subject_name}}</option>
        {{/each}}
      </select>
      <br><br>
    <input type="submit" value="submit">
  </form>
</div>
