<div><h1>STUDENT LIST</h1></div>
<div class="centered-block">
 <ol>
   {{#each students}}
    <li><span class="alignleft">{{first_name}} {{last_name}}</span><span class="alignright"><a href="/studentslist/{{id}}">See scores</a></span><br> 
     <!--<a href="/students/{{id}}/add-score">Add score</a>--></li>
   {{/each}}

   {{#each student}}
    <p>{{id}}</p>
   {{/each}}
 </ol>
</div>
