<div><h1>STUDENT LIST</h1></div>
<div>
 <ul>
   {{#each students}}
    <li>{{first_name}} {{last_name}} <a href="/students-list/{{id}}">See scores</a> <!--<a href="/students/{{id}}/add-score">Add score</a>--></li>
   {{/each}}

   {{#each student}}
    <p>{{id}}</p>
   {{/each}}
 </ul>
</div>
